*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery-highlight{
    width: 100%;
    height: 70%;
    margin-bottom: 5px;
}
section{
    display: flex;
    height: 100vh;
    justify-content: center;
}
.room-gallery{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
/* .room-descripition{
    font-family: 'Ubuntu', sans-serif;
    width: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #e2d2c0;
} */
.room-preview{
    display: flex;
    width: 80%;
    border: 2px solid #e2d2c0;
}
.room-preview img{
    height: 100px;
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
img.room-active{
    opacity: 1;
}